{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div id="logo">
        <div class="container-logo">
            <img src="{{ asset('Image/logo.png') }}" alt="logo" />
        </div>
    </div>
    <div id="container-home">
        <div id="typewriter">
            <div {{ react_component('Typewriter') }} class="rating-recette"></div>
        </div>
        <div id="container-presentation">
            <div class="img-presentation reveal-1">
                <img src="{{ asset('Image/image1.webp') }}" alt="img-presentation" />
            </div>
            <div class="presentation reveal-2">
                <h3 class="text-center">DIÉTÉTICIENNE À AIX-EN-PROVENCE</h3>
                <p>En tant que diététicienne nutritionniste chevronnée, j'ai plus de 20 ans d'expérience dans le domaine de la santé et de la nutrition. Mon objectif est d'aider mes clients à atteindre une meilleure santé grâce à une alimentation équilibrée et adaptée à leurs besoins individuels. Je propose des plans alimentaires personnalisés et un suivi attentif pour les aider à perdre du poids, améliorer leur digestion et gérer leurs conditions médicales. Avec une approche bienveillante et professionnelle, je suis là pour les guider vers une vie plus saine et équilibrée.</p>
            </div>
        </div>
        <div id="container-contact-home" class="mt-contact">
            <div class="contact reveal-2">
                <h3 class="text-center">VOUS HESITEZ ENCORE ?</h3>
                <p>N'hésitez plus et contactez-moi dès maintenant pour bénéficier de mes plus de 20 ans d'expérience en tant que diététicienne nutritionniste. Je suis là pour vous aider à atteindre vos objectifs de santé et de bien-être grâce à des plans alimentaires personnalisés et un soutien individualisé. Ne laissez pas l'hésitation vous empêcher de prendre le contrôle de votre santé. Ensemble, nous pouvons créer un chemin vers une meilleure alimentation et une meilleure qualité de vie.</p>
            </div>
            <div class="img-contact reveal-1">
                <img src="{{ asset('Image/image2.jpeg') }}" alt="img-presentation" />
            </div>
        </div>
        <div class="mt-3 btn-contact">
            <button>Contactez-moi</button>
        </div>

        <div id="offre">
            <h3 class="text-center">Mes Services</h3>
            <div id="container-offre">
                <div class="container-icon reveal-1">
                    <img src="{{ asset('Image/icons-dialogue.png') }}" alt="icon-dialogue" class="icon-offre"/>
                    <h5 class="mt-3 text-center">Conseils <br/> Nutritionnels</h5>
                </div>
                <div class="container-icon reveal-2">
                    <img src="{{ asset('Image/icons-diagnostique.png') }}" alt="icon-dialogue" class="icon-offre"/>
                    <h5 class="mt-3 text-center">Analyse de <br/> vos besoin</h5>
                </div>
                <div class="container-icon reveal-3">
                    <img src="{{ asset('Image/icons-entraineur.png') }}" alt="icon-dialogue" class="icon-offre"/>
                    <h5 class="mt-3 text-center">Coaching <br/>Personnalisé</h5>
                </div>
                <div class="container-icon reveal-4">
                    <img src="{{ asset('Image/icons-recette.png') }}" alt="icon-dialogue" class="icon-offre"/>
                    <h5 class="mt-3 text-center">Recette selon<br/> vos besoins</h5>
                </div>
            </div>
        </div>

        <div id="reseaux-sociaux">
            <h3 class="text-center">Une diététicienne Nutritionniste spécialisée</h3>
            <p class="text-center">Avec plus de 20 ans d'expérience en tant que diététicienne nutritionniste, j'ai accompagné de nombreux professionnels vers une meilleure santé. Athlètes, chefs étoilés, cadres et artistes renommés m'ont fait confiance pour atteindre leurs objectifs de performance et de bien-être. Suivez-nous sur les réseaux sociaux pour découvrir les conseils nutritionnels adaptés à vos besoins et rejoindre notre communauté dédiée à une vie saine. Ensemble, nous pouvons créer un plan personnalisé pour vous aider à atteindre vos objectifs de santé.</p>
            <div class="container-reseaux">
                <img src="{{ asset('Image/icons8-facebook.svg') }}" alt="icon-fb" class="reseaux-sociaux mr-4"/>
                <img src="{{ asset('Image/icons8-instagram.svg') }}" alt="icon-inst" class="reseaux-sociaux mr-4"/>
                <img src="{{ asset('Image/icons8-twitter.svg') }}" alt="icon-twitter" class="reseaux-sociaux "/>
            </div>
        </div>
    </div>
{% endblock %}
