{% extends 'base.html.twig' %}

{#{% block title %}{{ recette.titre }}{% endblock %}#}

{% block body %}
    <div id="recette-id">
        <div class="recette-titre">
            <h2 class="text-center">{{ recette.titre }}</h2>
        </div>
        <div id="container-recette-id">
            <div class="container-img-recette">
                <div class="img-recette-id">
                    <img src="/Uploads/{{ recette.imageRecette }}" alt="img-recette"/>
                </div>
                <div class="times-recette">
                    <div class="times-recette-content">
                        <img src="{{ asset('Image/icons-minuteur.png') }}" alt="times">
                        <p>Cuisson</p>
                        <p>{{ recette.tempsPreparation|date('H:i') }} heures</p>
                    </div>
                    <div class="times-recette-content">
                        <img src="{{ asset('Image/icons-salle-attente.png') }}" alt="time">
                        <p>Repos</p>
                        <p>{{ recette.tempsRepos|date('H:i') }} heures</p>
                    </div>
                    <div class="times-recette-content">
                        <img src="{{ asset('Image/icons-sablier.png') }}" alt="time">
                        <p>Préparation</p>
                        <p>{{ recette.tempsCuisson|date('H:i') }} heures</p>
                    </div>
                </div>
            </div>
            <div class="container-recette-description">
                <div class="description-recette-div">
                    <p class="text-description">{{ recette.description|striptags  }}</p>
                    <h4 class="mt-3">Régimes:</h4>
                    <div class="recette-regime">
                        <img src="{{ asset('Image/icons-biceps.png') }}" alt="régime">
                        {% for regime in recette.Regime %}
                            <p>{{ regime.name }}</p>
                        {% endfor %}
                    </div>
                    <h4 class="mt-4">Allergènes:</h4>
                    <div class="recette-allergie">
                        <img src="{{ asset('Image/icons-attention.png') }}" alt="allergie">
                        {% for allergie in recette.Allergie %}
                            <p>{{ allergie.name }}</p>
                        {% endfor %}
                    </div>
                    <h4 class="mt-4">Les Ingrédients:</h4>
                    <div class="recette-ingredient">
                        <img src="{{ asset('Image/icons-cuisine.png') }}" alt="ingrédient">
                        {% for ingredient in recette.Ingredient %}
                            <p>{{ ingredient.name }}</p>
                        {% endfor %}
                    </div>
                    <h4 class="mt-4">Les Etapes:</h4>
                    <div class="recette-etape">
                        <img src="{{ asset('Image/icons-food.png') }}" alt="food" class="mr05 img-food">
                        {% for etapes in recette.Etape %}
                            <p>{{ etapes.name }} <img src="{{ asset('Image/icons-fleche.png')}}" alt="fleche"> </p>
                        {% endfor %}
                        <img src="{{ asset('Image/icons-terminer.png') }}" alt="terminé" class="ml05 img-terminer">
                    </div>
                </div>


            </div>

        </div>

    {% if AvisUser is not null %}
        <div class="container-note">
            <p class="note-user">Vous avez attribué la note de :</p>
            <div {{ react_component('RatingRecetteId', { noteUser: AvisUser.Note }) }}></div>
        </div>
    {% else %}
        <div {{ react_component('RatingRecette', { recetteId: recette.id }) }} class="rating-recette"></div>
         {{ dump(AvisUser) }}
    {% endif %}
    </div>










{% endblock %}